@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
    /** Colors */
    --dark-blue: #2b3945;
    --darker-blue: #202c37;
    --darkest-blue: #111517;
    --dark-gray: #858585;
    --light-gray: #f3f3f3;
    --lighter-gray: #fafafa;
    --white: #ffffff;
    --black: #000000;

    /** Font Sizes */
    --text-size-homepage-items: 14px;
    --text-size-detail-page: 16px;

    /** Defaults */
    --default-font-family: 'Nunito Sans', sans-serif;
    --default-text-font-size: 14px;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--default-font-family);
    font-size: var(--default-text-font-size);
}

#app {
    width: 100%;
    margin: 0;
    padding: 0;
}

.body-wrapper {
    width: 85%;
    overflow: auto;
    margin: 0 auto;
}

.top-navbar {
    width: 100%;
    background-color: var(--white);
    border-bottom: 1px solid var(--light-gray);
    /* box-shadow: 0px 4px 16px -2px rgba(239, 239, 239, 0.75); */
    color: var(--black);
}

.grid-container {   
    display: grid;
    grid-template-columns: 1fr 90px;
}

.top-navbar .app-title h1 {
    font-size: 24px;
    font-weight: 800;
}

.top-navbar .color-switcher {
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.top-navbar .color-switcher p {
    font-weight: 600;
    text-align: center;
}

.app-content {
    background-color: var(--lighter-gray);
}